body {
  background-color: lightcyan;
  font-family: serif;
  color: teal;
  text-align: center;
}

.well {
  background-color: black;
  max-width: 295px;
  min-height: 300px;
  border: none;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}

img {
  max-width: 250px;
  border: none;
  border-radius: 20px;
  padding-left: 10px;

}
